<main class="p-5">
    <div class="card p-5">
        <p id="test">
        Hello World!
    </p>
     <p id="test">
        Hello World!
    </p>
     <p id="test">
        Hello World!
    </p>
     <p id="test">
        Hello World!
    </p>
    <span class="test">test</span>
    
    </div>
    <pre> Test</pre>
	<div style="paddig: 50px 100px 10px 100px; background:blue" he>
		<span>Inline</span>
	<span>Inline</span>
	<span class="block">Inline block block block block</span>
	</div>
</main>