
.card {
    color: red;
}
.card > p {
    color: green;
    direction: ltr;

}
#test {
    color: inherit;
    text-align: center;
	letter-spacing: 10px;
}
span {
    text-align: center;
    text-transform: uppercase;
	text-decoration: underline red;
}
span:hover {
	text-decoration-line: line-through;
	text-decoration-style: wavy;
}
