:root {
	--space-m:12px;
	--space-l:24px;
	--space-xm:16px;
	--space-b:36px;
	--size-s:14px;
	--size-d:16px;
	--size-l:20px;
	--size-b:24px;
	--color-border:#dee2e6;
	--color-border-light:#D3DEE9;
	--color-primary: rgb(40, 40, 252);
	--color-white:#ffffff;
	--color-title:#212529;
	--color-text:#343a40;
	--border-radius:12px;
	--weigth-title:600;
	--weight-text:400;
}
.page {
	background: var(--color-white);
	padding: 0 16px;
	display: flex; 
	justify-content: center;
	width: 1000px;
}
.page_content {
	
	
	display: flex;
	flex-direction: column;
	gap: 80px;
	width: 1000px;
	
}
/* =============================== */
.header {
padding: var(--space-l) 0;
display: flex;
justify-content: space-between;
border-bottom: 1px solid var(--color-border);

}
.logo {
	font-size: 17px;
	background: var(--color-primary);
	color: var(--color-white);
	width: 24px;
	height: 24px;
	border-radius:calc( var(--border-radius)/2);
	display: flex;
	align-items: center;
	justify-content: center;


}

.nav {
 display: flex;
}
.nav_inLine {
	gap: var(--space-l);
}
.nav_vertical {
	gap: var(--space-xm);
	flex-direction: column;


}
.nav_link {
color: var(--color-text);
font-size: var(--size-d);
text-decoration: none;
line-height: 100%;
}
.nav_link:hover {
	text-decoration: underline;
	color: var(--color-primary);
}



.footer {
	padding: var(--space-l) 0;
	border-top: 1px solid var(--color-border);
	display: flex;
	justify-content: space-between;
}
.footer_copyright {
	font-size: var(--size-s);
	color: var(--color-text);
	display: block;
	margin-top: var(--space-l);
}
.footer_title {
	font-size: var(--size-l);
	color: var(--color-title);
	display: block;
	margin-bottom: var(--space-l);
}
.main {
	display: flex;
    gap: 40px;
	align-items: flex-start;
}
.messages {
	max-width: 620px;
	width: 100%;
	background-color: var(--color-white);
	border-radius: var(--border-radius);
	box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.10);
	padding: var(--space-l);
	display: flex;
	flex-direction: column;
	gap: var(--space-l);
	
}
.messages_title {
font-size: var(--size-b);
font-weight: var(--weight-text);
color: var(--color-title);
padding-bottom: var(--space-m);
border-bottom:1px solid var(--color-border-light) ;

}
.messages_link {
	color: var(--color-primary);
	font-size: var(--size-s);
	align-self: flex-end;
	transition-property: opacity border-color;
	text-decoration: none;
	transition-duration: 0.7s;
	border-bottom: 1px solid transparent;
}
.messages_link:hover {
	opacity: 0.7;
	border-color: var(--color-primary);
}
.msg {
	display: flex;
	flex-direction: column;
	gap: var(--space-m);
	padding-bottom: var(--space-m);
border-bottom:1px solid var(--color-border-light) ;
position: relative;
padding-right:var(--space-b) ;
}
.msg_name {
	font-size: var(--size-d);
	color: var(--color-title);
	font-weight:var(--weigth-title);
}
.msg_text {
	color: var(--color-text);
	font-size: var(--size-d);
	font-weight: var(--weight-text);
	
}
.msg_day {
	position: absolute;
	right: 0;
	top: 0;
}
.advantages {
	display: flex;
	gap: var(--space-l);
	
}
.advantages > div {
	display: flex;
	flex-direction: column;
	border: 1px solid var(--color-border-light);
	border-radius: var(--border-radius);
	padding: 22px;
	gap: 8px;
	width: 100%;
}
.advantages > div:last-of-type {
	flex-grow: 1;
	width: 100%;
}
.advantages > div > strong {
color: var(--color-title);
font-weight: var(--weigth-title);
}
.advantages > div > p {
	color: var(--color-text);
	font-size: var(--size-d);
	line-height: 24px;
}
.form {
	max-width: 340px;
	width: 100%;
	background-color: var(--color-white);
	border-radius: var(--border-radius);
	padding: var(--space-l);
	display: flex;
	flex-direction: column;
	gap: var(--space-l);
	box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.form_title {
	text-align: center;
	font-size: var(--size-b);
	font-weight: var(--weight-text);
	color: var(--color-title);

}
.form_info {
	text-align: center;
	font-size: var(--size-d);
	font-weight: var(--weight-text);
	color: #6C757D;
	
}
.form_button {
	text-align: center;
	padding: 12px;
	background-color: var(--color-primary);
	border-radius: 4px;
	color: var(--color-white);
	transition: opacity 0.7s;
}
.form_button:hover {
	opacity: 0.7;
}
.form_input_list {
	display: flex;
	gap: var(--space-m);
	flex-direction: column;
}
.form_input {
	padding: var(--space-xm);
	border: 1px solid #CED4DA;
	border-radius: 4px;
}
.form_input::placeholder {
	color: var(--color-title);
	font-size: var(--size-d);
}
.form_checkbox {
	display: flex;
	gap: 8px;
	align-items: center;
}
.form_checkbox > input {
	
display: none;
}
.form_checkbox > input:checked ~ div {
	border-color: var(--color-primary);
	background-color: var(--color-primary);
}
.form_checkbox > input ~ div {
	border-radius: 4px;
	border: 1px solid #767676;
	height: 13px;
	width: 13px;
	
}