/* ============================== */
:root {
	--space-m:12px;
	--space-l:24px;
	--space-xm:16px;
	--space-b:36px;
	--size-s:14px;
	--size-d:16px;
	--size-l:20px;
	--color-border:#dee2e6;
	--color-primary: rgb(40, 40, 252);
	--color-white:#ffffff;
	--color-title:#212529;
	--color-text:#343a40;
	--border-radius:12px;
	--weigth-title:500;
	--weight-text:400;
}
.page {
	background: var(--color-white);
	padding: 0 16px;
	display: flex; 
	justify-content: center;
}
.page_content {
	max-width: 960px;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 80px;
}
/* =============================== */
.header {
padding: var(--space-l) 0;
display: flex;
justify-content: space-between;
border-bottom: 1px solid var(--color-border);

}
.logo {
	font-size: 17px;
	background: var(--color-primary);
	color: var(--color-white);
	width: 24px;
	height: 24px;
	border-radius:calc( var(--border-radius)/2);
	display: flex;
	align-items: center;
	justify-content: center;


}

.nav {
 display: flex;
}
.nav_inLine {
	gap: var(--space-l);
}
.nav_vertical {
	gap: var(--space-xm);
	flex-direction: column;


}
.nav_link {
color: var(--color-text);
font-size: var(--size-d);
text-decoration: none;
line-height: 100%;
}
.nav_link:hover {
	text-decoration: underline;
	color: var(--color-primary);
}



.footer {
	padding: var(--space-l) 0;
	border-top: 1px solid var(--color-border);
	display: flex;
	justify-content: space-between;
}
.footer_copyright {
	font-size: var(--size-s);
	color: var(--color-text);
	display: block;
	margin-top: var(--space-l);
}
.footer_title {
	font-size: var(--size-l);
	color: var(--color-title);
	display: block;
	margin-bottom: var(--space-l);
}
.main {
	display: flex;
	align-items: center;
	gap:80px;
	padding: var(--size-b);
}
.img_main {
	width: 500px;
	height: 500px;

}
.main_content {
	display: flex;
	flex-direction: column;
	gap: var(--space-l);
}
.main_title {
	font-size: var(--space-b);
	color: var(--color-title);
	font-weight: var(--weigth-title);

}
.main_text {
	font-size: var(--size-d);
	font-weight: var(--weight-text);
	color: var(--color-text);
	gap: var(--space-l);
	line-height: 170%;
}
.main_button {
	padding:12px 16px;
	font-size: var(--space-m);
	background-color: #6C757D;
	text-decoration: none;
	color: var(--color-white);
	border-radius: 4px;
	border: 1px solid #6C757D;
	display: flex;
	width: 100px;
	text-align: center;

}
.main_button:hover {
	background-color: #4f6e8b;
}
.featured {
	display: flex;
	gap: var(--space-b);
	padding: var(--space-b);
	border-bottom: 1px solid var(--color-border);

}
.card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align:left;
	gap: var(--space-l);
	width: 100%;
	

}
    .card_image {
	display: flex;
     width: 64px;
     height: 64px;
   border-radius: 12px;
   gap: 10px;
   margin-bottom: 15px;
    }
	.card_title {
		font-size: 30px;
		color: var(--color-title);
		font-weight: var(--weigth-title);
		display: flex;
		gap: 24px;
		
	}
	.card_text {
		font-size: var(--size-d);
		font-weight: var(--weight-text);
		line-height: 170%;
		color: var(--color-text);
	}
	.card_link {
		font-weight: var(--weight-text);
		font-size: 16px;
		color: var(--color-primary);
		
		margin-top: auto;
	}
	.actions {
		display: flex;
	justify-content: space-between;
	align-items: center;
	background-color:#6C757D;
	padding: var(--space-l);
	border-radius: var(--border-radius);
	
}
.actions_content {
	display: flex;
	flex-direction: column;
	gap: var(--space-m);
}
.action_title {
	font-size: var(--size-d);
	font-weight: var(--weigth-title);
	color: var(--color-white);

}
.action_button {
	display: flex;
	justify-items: center;
	justify-content: center;
	gap: 10px;
	border-radius: var(--border-radius);
	background-color: #dee2e6;
	padding: var(--space-m) var(--space-xm);
	text-decoration: none;
	color: var(--color-text);
}
	
