:root {
	--space-m:12px;
	--space-l:24px;
	--space-xm:16px;
	--space-b:36px;
	--size-s:14px;
	--size-d:16px;
	--size-l:20px;
	--size-b:24px;
	--color-border:#dee2e6;
	--color-border-light:#D3DEE9;
	--color-primary: rgb(40, 40, 252);
	--color-white:#ffffff;
	--color-title:#212529;
	--color-text:#343a40;
	--border-radius:12px;
	--weigth-title:600;
	--weight-text:400;
}
.page {
	background: var(--color-white);
	padding: 0 16px;
	display: flex; 
	justify-content: center;
	width: 1000px;
	gap: 80px;
}
.page_content {
	
	
	display: flex;
	flex-direction: column;
	gap: 80px;
	width: 1000px;
	
}
/* =============================== */
.header {
padding: var(--space-l) 0;
display: flex;
justify-content: space-between;
border-bottom: 1px solid var(--color-border);

}
.logo {
	font-size: 17px;
	background: var(--color-primary);
	color: var(--color-white);
	width: 24px;
	height: 24px;
	border-radius:calc( var(--border-radius)/2);
	display: flex;
	align-items: center;
	justify-content: center;


}

.nav {
 display: flex;
}
.nav_inLine {
	gap: var(--space-l);
}
.nav_vertical {
	gap: var(--space-xm);
	flex-direction: column;


}
.nav_link {
color: var(--color-text);
font-size: var(--size-d);
text-decoration: none;
line-height: 100%;
}
.nav_link:hover {
	text-decoration: underline;
	color: var(--color-primary);
}



.footer {
	padding: var(--space-l) 0;
	border-top: 1px solid var(--color-border);
	display: flex;
	justify-content: space-between;
}
.footer_copyright {
	font-size: var(--size-s);
	color: var(--color-text);
	display: block;
	margin-top: var(--space-l);
}
.footer_title {
	font-size: var(--size-l);
	color: var(--color-title);
	display: block;
	margin-bottom: var(--space-l);
}
.main {
	display: flex;
    gap: 40px;
	align-items: flex-start;
}
.info {
	display: flex;
	flex-direction: column;
	gap: var(--space-l);
}
.info_title {
     display: flex;
	font-size: 56px;
	font-weight: 700;
	color: var(--color-title);
	line-height: 120%;
}
.info_description {
	font-size: var(--size-l);
	font-weight: var(--weigth-title);
	color: var(--color-title);
	line-height: 150%;
}
.updates {
	display: flex;
	width: 100%;
	padding: 24px;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
	border-radius: 4px;
	box-shadow:  0px 4px 12px 0px rgba(0, 0, 0, 0.05);

}
.updates_title {
	display: flex;
	width: 100%;
	font-size: 24px;
	font-weight: 400;
	color: var(--color-title);
	line-height: 80%;
	border-bottom: 1px solid #DEE2E6;
	padding-bottom: 10px;
	gap: 10px;
}
.updates_list {
display: flex;
gap: 24px;
padding-bottom: 10px;
border-bottom: 1px solid #DEE2E6;
flex-direction: column;
}
.upd_list_card {
	display: flex;
	gap: 8px;
}
.updates_text {
	display: flex;
	flex-direction: column;
}
.list_nickname {
	
	height: 15px;
	
	color: var(--color-text);
	font-size: 14px;
	font-weight: var(--weight-text);
	line-height: 16px;
	
}
.list_description {
	font-size: 16px;
	font-weight: var(--weight-text);
	color: var(--color-text);
	padding-bottom: 10px;
border-bottom: 1px solid #DEE2E6;
}
.img_updates {
	
	width: 32px;
	height: 32px;
	background-color: purple;
	font-size: 12px;
	line-height: normal;
	font-weight: 400;
	
}
.upd_list_card:nth-of-type(2) .img_updates {
background-color: blue;
}
.upd_list_card:last-of-type .img_updates {
	background-color: yellow;
}
.show_all {
	color: var(--color-primary);
	font-size: var(--size-s);
	align-self: flex-start;
	transition-property: opacity border-color;
	text-decoration: none;
	transition-duration: 0.7s;
	border-bottom: 1px solid transparent;
}
.show_all:hover {
	opacity: 0.7;
	border-color: var(--color-primary);
}
.exp {
	display: flex;
	padding: 24px 28px;
	flex-direction: column;
	align-items: self-start;
	gap: 24px;
	border-radius: 4px;
    background: #F8F9FA;
	position: relative;
}
.exp_title {
	color: var(--color-title);
	font-size: 42px;
	font-weight: 700;
	line-height: 120%;
	width: 536px;
}
.badje {
	display: flex;
	position: absolute;
    padding: 12px 24px;
  left: 900px;
  top: 2px;
   align-items: center;
   gap: 12px;
   border-radius: 70px;
background: #FF7347;
transform: rotate(30deg);

}
.badje > h4 {
	color: var(--color-white);
	font-size: 24px;
	font-weight: 700;
	line-height: 120%;
}
.exp_content {
display: flex;

gap: 24px;
}
.exp_text {
	display: flex;
padding: 16px;
flex-direction: column;
align-items: flex-start;
gap: 8px;
border-radius: 12px;
background: #212529;
justify-content: center;
width: 100%;
}
.exp_name {
	color: var(--color-white);
	font-size: 20px;
	font-weight: 700;
	line-height: 120%;
}
.exp_det {
	color: #B1B1B1;
	font-size: 16px;
	font-weight: 400;
}





.advantages {
	display: flex;
	gap: var(--space-l);
	
}
.advantages > div {
	display: flex;
	flex-direction: column;
	border: 1px solid var(--color-border-light);
	border-radius: var(--border-radius);
	padding: 22px;
	gap: 8px;
	width: 100%;
}
.advantages > div:last-of-type {
	flex-grow: 1;
	width: 100%;
}
.advantages > div > strong {
color: var(--color-title);
font-weight: var(--weigth-title);
}
.advantages > div > p {
	color: var(--color-text);
	font-size: var(--size-d);
	line-height: 24px;
}
.form {
	max-width: 340px;
	width: 100%;
	background-color:#F8F9FA;
	
	padding: 60px 48px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	border-radius: 4px;
	
}

.form_info {
	text-align: center;
	font-size: var(--size-d);
	font-weight: var(--weight-text);
	color: #6C757D;
	border-top:1px solid #212529;
	padding: 10px;
	
}
.form_button {
	text-align: center;
	padding: 12px;
	background-color: var(--color-primary);
	border-radius: 4px;
	color: var(--color-white);
	transition: opacity 0.7s;
	
}
.form_button:hover {
	opacity: 0.7;
}
.form_input_list {
	display: flex;
	gap: var(--space-m);
	flex-direction: column;
}
.form_input {
	padding: var(--space-xm);
	border: 1px solid #CED4DA;
	border-radius: 4px;
}
.form_input::placeholder {
	color: var(--color-title);
	font-size: var(--size-d);
}
.form_checkbox {
	display: flex;
	gap: 8px;
	align-items: center;
}
.form_checkbox > input {
	
display: none;
}
.form_checkbox > input:checked ~ div {
	border-color: var(--color-primary);
	background-color: var(--color-primary);
}
.form_checkbox > input ~ div {
	border-radius: 4px;
	border: 1px solid #767676;
	height: 13px;
	width: 13px;
}