{{#with data}}
<div class="card">
			<img src="{{photo}}" alt="card image" class="card_image">
			<h5 class="card_title">{{name}}</h5>
			<p class="card_text">{{description}}</p>
			<button href="#" class="card_button">Read All</button>
		</div>
{{/with}}